:root {
  --grid: 8px;
  --white: rgba(255, 255, 255);
  --white-transparent: rgba(255, 255, 255, 0.5);
  --black: rgba(0, 0, 0);
  --drop-shadow: 0 calc(var(--grid) * 2) calc(var(--grid) * 2) rgba(0, 0, 0, 0.25);
  --drop-shadow-text: 0 var(--grid) var(--grid) rgba(0, 0, 0, 0.1);
  --global-navigation-height-mobile: calc(var(--grid) * 7.5);
  --global-navigation-height: calc(var(--grid) * 10);
  --transition: all 0.2s ease;
}
