.button {
  height: calc(var(--grid) * 8);
  padding-right: calc(var(--grid) * 4);
  padding-left: calc(var(--grid) * 4);
  font-size: calc(var(--grid) * 4);
  line-height: 2em;
  color: var(--black);
  background-color: var(--white);
  border-radius: calc(var(--grid) * 4);
  border: 2px solid var(--black);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--grid) * 1);
  min-width: calc(var(--grid) * 35);
  box-shadow: var(--drop-shadow);
  transition: var(--transition);
  &:hover {
    color: var(--white);
    background-color: var(--black);
  }
}
