.nav {
  background-color: var(--white-transparent);
  display: flex;
  flex-direction: row;
  gap: var(--grid);
  padding: var(--grid) calc(2 * var(--grid));
  top: 0;
  right: 0;
  left: 0;
  height: var(--global-navigation-height-mobile);
  position: fixed;
}

.link {
  padding: var(--grid);
  background-color: var(--white);
  display: inline-block;
  border: 2px solid var(--black);
  transition: var(--transition);
  &:hover {
    color: var(--white);
    background-color: var(--black);
  }
}

@media (--min-tablet-width) {
  .nav {
    gap: calc(2 * var(--grid));
    padding: calc(1.5 * var(--grid)) calc(3 * var(--grid));
    height: var(--global-navigation-height);
  }
}

@media (--min-desktop-width) {
  .nav {
    padding-left: calc(8 * var(--grid));
    padding-right: calc(8 * var(--grid))
  }
}
