.list {
  display: flex;
  flex-wrap: wrap;
  gap: calc(1 * var(--grid));
  list-style: none;
  margin-top: calc(3 * var(--grid));
}

.skill {
  display: inline-block;
  font-size: calc(2 * var(--grid));
  line-height: 1.2em;
  background-color: var(--white);
  border: 2px solid var(--black);
  padding: var(--grid) calc(2 * var(--grid));
  border-radius: calc(3 * var(--grid));
}

@media (--min-desktop-width) {
  .skill {
    font-size: calc(2.5 * var(--grid));
  }
}
