.linksSection {
  margin-top: calc(4 * var(--grid));
  display: flex;
  justify-content: center;
  gap: calc(var(--grid) * 2);
  list-style: none;
}
.item {
  display: inline-block;
}
.icon {
  display: inline;
}
