.paragraph {
  font-size: calc(3 * var(--grid));
  margin-top: calc(4 * var(--grid));
  line-height: 1.2em;
}

@media (--min-tablet-width) {
  .paragraph {
    margin-top: calc(6 * var(--grid));
    font-size: calc(4 * var(--grid));
  }
}
