.heading {
  text-align: center;
  font-size: calc(8 * var(--grid));
  margin-top: calc(4 * var(--grid));
  font-weight: 800;
  color: var(--white);
  -webkit-text-stroke: 2px var(--black);
  text-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

@media (--min-tablet-width) {
  .heading {
    font-size: calc(10 * var(--grid));
  }
}
