.heading {
  text-align: center;
  font-size: calc(8 * var(--grid));
  margin-top: calc(4 * var(--grid));
  font-weight: 800;
  color: var(--white);
  -webkit-text-stroke: 2px var(--black);
  text-shadow: var(--drop-shadow-text);
}

@media (--min-tablet-width) {
  .heading {
    margin-top: calc(6 * var(--grid));
    font-size: calc(12 * var(--grid));
  }
}
